<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="comets" connectionString="Database=comets;Host=10.1.119.34;Server=prodassys;Service=7143;Protocol=onsoctcp;UID=cpis01 ;Password=itmait05;DB_LOCALE=zh_tw.big5;CLIENT_LOCALE=zh_tw.big5;delimident=n;" providerName="System.Data.SqlClient" />
		<add name="cimes" connectionString="Database=cimes;Host=10.1.119.34;Server=prodassys;Service=7143;Protocol=onsoctcp;UID=cpis01 ;Password=itmait05;DB_LOCALE=zh_tw.big5;CLIENT_LOCALE=zh_tw.big5;delimident=n;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<system.net>
		<mailSettings>
			<smtp deliveryMethod="Network">
				<network host="mailsqr.chipmos.com.tw" port="25" userName="tnlrpt1" password="itmait05" />
			</smtp>
		</mailSettings>
	</system.net>
</configuration>